* {
	box-sizing: border-box;
	align-items: center;
}

$color1: #306ffc;

body {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100vw;
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
	color: white;
	> header {
		position: fixed;
		top: 0;
		left: 0;
		padding: 0.5em;
		display: flex;
		gap: 15px;
		> h1 {
			margin: 0;
		}
		> .links {
			display: flex;
			gap: 10px;
			a {
				color: white;
				font-size: 20px;
			}
		}
	}
	#scene {
		width: 100vw;
		height: 100vh;
	}
	#graph-image {
		aspect-ratio: 1 / 1;
		width: 15vw;
		background-color: black;
		border: 1px solid $color1;
		align-self: center;
		position: fixed;
		bottom: 1em;
		right: 1em;
	}
	#raycaster {
		position: fixed;
		transform: translate(-50%, 50%);
		padding: 1em;
		background-color: black;
		border: 1px solid $color1;
	}
	#controls {
		border-radius: 5px;
		position: fixed;
		bottom: 1em;
		left: 1em;
		background-color: rgba(#222, .8);
		padding: 1em;
		min-width: 30vw;
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: start;
		> .input {
			width: 100%;
			display: grid;
			grid-template-columns: 50px 1fr;
			grid-gap: 5px;
			> label {
				width: 100%;
				display: grid;
				justify-content: center;
				grid-gap: 10px;
				grid-template-columns: 20px 1fr;
				i {
					justify-self: center;
				}
			}
			input {
				width: 100%;
				padding: 0;
				border: none;
				background-color: transparent;
				cursor: pointer;
			}
		}
		> footer {
			margin-top: 1em;
			display: flex;
			gap: 10px;
			> button {
				padding: .75em;
				background-color: $color1;
				color: white;
				font-weight: bold;
				border: none;
				cursor: pointer;
			}
			.input {
				display: flex;
				gap: 5px;
				label {
					cursor: pointer;
				}
			}
		}
	}
}